{%- macro resolve_site(site, domain) -%}
{{ site }}{% if domain %}.{% endif %}{{ domain }}
{%- endmacro -%}

{%- macro conf_common() -%}
    log "{remote} - {host} [{when}] \"{method} {uri} {proto}\" {status} {size} \"{>Referer}\" \"{>User-Agent}\""
    gzip
    request_id 
    header /  Caddy-Request-Id {request_id}
{%- endmacro -%}

0.0.0.0:80, 0.0.0.0:443 {
    {{ conf_common() }}
    tls self-signed
    root /srv/caddy
}

{% for site, targets in sites %}
## {{ site }}
{{ resolve_site(site, domain) }}:80, {{ resolve_site(site, domain) }}:443 {
    {{ conf_common() }}
    {% if domain %}
    tls /srv/caddy/cert/{{ resolve_site(site, domain) }}.pem /srv/caddy/cert/{{ resolve_site(site, domain) }}.key 
    {% else %}
    tls self-signed
    {% endif %}
    proxy / {{ targets }} {
        websocket
        transparent
    }
}
{% endfor %}